global_defs {
  router_id {{ inventory_hostname }}
}
vrrp_script haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
vrrp_instance 50 {
  virtual_router_id 50
  advert_int 1
  nopreempt
  priority 10
  state BACKUP
  interface eth1
  virtual_ipaddress {
    192.168.33.2 dev eth1
  }
  track_script {
    haproxy
  }
}
